<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="kinematics_config" default="$(find ur_description)/config/ur5_default.yaml"/>
  <arg name="tf_prefix" value="ur5_" />

  <include file="$(find husky_description)/launch/description.launch" />
</launch>
